@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 1.125rem;
  font-weight: 400;
}

p,
span {
  font-size: 1rem;
}

* {
  color: #38322e;
}

p,
label {
  color: #625550;
}

/* LOGO */
.logo .st0 {
  fill: #38322e;
}

/* ARROW */
.arrow {
  fill: none;
  stroke: #cc5200;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

/* ARROW SMALL */
.arrow-small .st0 {
  fill: none;
  stroke: #a3978f;
  stroke-miterlimit: 10;
}

/* CART */
.cart .st0 {
  fill: none;
  stroke: #38322e;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

.cart .st1 {
  fill: #38322e;
}

/* USER */
.user .st2 {
  fill: #38322e;
}

/* SEARCH */
.search .st0 {
  fill: none;
  stroke: #38322e;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.search .st1 {
  fill: #38322e;
}

/* BAR OPEN */
.bar-open rect {
  fill: #38322e;
}

/* BAR CLOSED */
.bar-closed .st0 {
  fill: none;
  stroke: #38322e;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

/* HEART */
.heart .st0 {
  fill: #f4f2f0;
}

.heart .st1 {
  fill: #a3978f;
}

.modal__container {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal__container.active {
  display: block;
}

.message-container .message {
  text-align: center;
  padding: 1rem 0.5rem;
  width: 100%;
}

.message-container .message.success {
  -webkit-box-shadow: 0 0 0 1px green inset;
          box-shadow: 0 0 0 1px green inset;
  background: rgba(0, 128, 0, 0.25);
}

.message-container .message.warning {
  -webkit-box-shadow: 0 0 0 1px #ffa600 inset;
          box-shadow: 0 0 0 1px #ffa600 inset;
  background: rgba(255, 166, 0, 0.25);
}

.message-container .message.error {
  -webkit-box-shadow: 0 0 0 1px rgba(204, 0, 0, 0.25) inset;
          box-shadow: 0 0 0 1px rgba(204, 0, 0, 0.25) inset;
  background: rgba(204, 0, 0, 0.25);
}

.loader {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.loader.active {
  opacity: 0;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px;
}

.search__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  background: white;
  margin: 0 1rem;
  -webkit-box-shadow: 0 0 0 1px #e0d7d1 inset;
          box-shadow: 0 0 0 1px #e0d7d1 inset;
}

.search__container form:hover {
  -webkit-box-shadow: 0 0 0 1px #a3978f inset;
          box-shadow: 0 0 0 1px #a3978f inset;
}

.search__container input {
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
}

.search__container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search__container button .icon {
  width: 24px;
}

@media only screen and (min-width: 768px) {
  .search__container {
    position: absolute;
    top: 0;
    background: unset;
    height: 96px;
    width: unset;
    border-top: unset;
  }
  .search__container input {
    max-width: 256px;
    width: 22.5vw;
  }
}

.header__container {
  position: relative;
  height: 48px;
}

.header__container .button {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  margin: 0 1rem;
  height: 40px;
  cursor: pointer;
}

.header__container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__container .title .link {
  display: block;
}

.header__container .title .logo {
  display: block;
  width: 40px;
}

.header__container .title .name {
  display: none;
}

.nav__container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: white;
  max-width: 250px;
  width: 100%;
  height: 100%;
}

.nav__container.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__container .button {
  margin: 4px 1rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav__container .navlink {
  display: -ms-grid;
  display: grid;
  border-top: 1px #e0d7d1 solid;
}

.nav__container .navlink .link {
  color: #38322e;
  padding: 0.5rem;
  line-height: 32px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Playfair Display SC", serif;
  border-bottom: 1px #e0d7d1 solid;
}

.nav__container .navlink .link.active {
  color: #cc5200;
}

.icon {
  width: 40px;
}

@media only screen and (min-width: 576px) {
  .header__container .title .name {
    display: block;
    font-size: 24px;
  }
  .header__container .title .logo {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header__container {
    height: 96px;
  }
  .header__container .button {
    display: none;
  }
  .header__container .title .name {
    font-size: 36px;
  }
  .nav__container {
    position: unset;
    top: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    display: block;
    max-width: unset;
    height: 48px;
    background: unset;
  }
  .nav__container .button {
    display: none;
  }
  .nav__container .navlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: unset;
    gap: 4rem;
  }
  .nav__container .navlink .link {
    font-size: 1.125rem;
    border-bottom: unset;
  }
  .nav__container .navlink .link:hover {
    -webkit-box-shadow: 0 -2px 0 #38322e inset;
            box-shadow: 0 -2px 0 #38322e inset;
  }
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px;
}

.search__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  background: white;
  margin: 0 1rem;
  -webkit-box-shadow: 0 0 0 1px #e0d7d1 inset;
          box-shadow: 0 0 0 1px #e0d7d1 inset;
}

.search__container form:hover {
  -webkit-box-shadow: 0 0 0 1px #a3978f inset;
          box-shadow: 0 0 0 1px #a3978f inset;
}

.search__container input {
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
}

.search__container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search__container button .icon {
  width: 24px;
}

@media only screen and (min-width: 768px) {
  .search__container {
    position: absolute;
    top: 0;
    background: unset;
    height: 96px;
    width: unset;
    border-top: unset;
  }
  .search__container input {
    max-width: 256px;
    width: 22.5vw;
  }
}

.header__container {
  position: relative;
  height: 48px;
}

.header__container .button {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  margin: 0 1rem;
  height: 40px;
  cursor: pointer;
}

.header__container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__container .title .link {
  display: block;
}

.header__container .title .logo {
  display: block;
  width: 40px;
}

.header__container .title .name {
  display: none;
}

.nav__container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: white;
  max-width: 250px;
  width: 100%;
  height: 100%;
}

.nav__container.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__container .button {
  margin: 4px 1rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav__container .navlink {
  display: -ms-grid;
  display: grid;
  border-top: 1px #e0d7d1 solid;
}

.nav__container .navlink .link {
  color: #38322e;
  padding: 0.5rem;
  line-height: 32px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Playfair Display SC", serif;
  border-bottom: 1px #e0d7d1 solid;
}

.nav__container .navlink .link.active {
  color: #cc5200;
}

.icon {
  width: 40px;
}

@media only screen and (min-width: 576px) {
  .header__container .title .name {
    display: block;
    font-size: 24px;
  }
  .header__container .title .logo {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header__container {
    height: 96px;
  }
  .header__container .button {
    display: none;
  }
  .header__container .title .name {
    font-size: 36px;
  }
  .nav__container {
    position: unset;
    top: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    display: block;
    max-width: unset;
    height: 48px;
    background: unset;
  }
  .nav__container .button {
    display: none;
  }
  .nav__container .navlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: unset;
    gap: 4rem;
  }
  .nav__container .navlink .link {
    font-size: 1.125rem;
    border-bottom: unset;
  }
  .nav__container .navlink .link:hover {
    -webkit-box-shadow: 0 -2px 0 #38322e inset;
            box-shadow: 0 -2px 0 #38322e inset;
  }
}

.user__container {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.user__container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.user__container .name {
  color: #625550;
  white-space: nowrap;
  font-size: 14px;
}

.user__container .link:hover .name {
  text-decoration: underline;
}

.user__container .icon {
  width: 24px;
  height: 24px;
}

.user__container .user-login {
  position: relative;
}

.user__container .user-navbar {
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transform: translate(0, 0.5rem);
          transform: translate(0, 0.5rem);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 0 0 1px #a3978f inset;
          box-shadow: 0 0 0 1px #a3978f inset;
}

.user__container .user-navbar.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__container .link.shopping-cart {
  position: relative;
}

.user__container .number {
  position: absolute;
  left: 100%;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  font-size: 14px;
  font-weight: 700;
}

.banner__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__container .image {
  z-index: -1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 560px;
  min-height: 400px;
  height: 100%;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.banner__container .description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  padding: 0 1rem;
}

.banner__container .title {
  color: white;
  text-align: center;
}

.banner__container .quote {
  color: white;
  font-size: 22px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.banner__container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner__container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 1rem;
  background: white;
}

.banner__container .text {
  color: #cc5200;
  font-size: 1.125rem;
  font-family: "Playfair Display", serif;
}

.banner__container .link:hover .text {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

.banner__container .icon {
  padding: 0.5rem 0;
  width: 24px;
}

.category__container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
      grid-template-areas: "s1" "s2" "s3";
}

.category__container .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.category__container .section:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
}

.category__container .section:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2;
}

.category__container .section:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s3;
}

.category__container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 100%;
  background: white;
}

.category__container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.category__container .section:hover .text {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.category__container .icon {
  width: 24px;
  stroke: #38322e;
}

@media only screen and (min-width: 576px) {
  .category__container {
        grid-template-areas: "s1 s2" "s1 s3";
    max-height: 560px;
    height: 80vw;
  }
  .category__container .section {
    height: unset;
  }
}

@media only screen and (min-width: 768px) {
  .category__container {
        grid-template-areas: "s1 s1 s1 s2 s2" "s1 s1 s1 s3 s3";
  }
}

.card__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem 1rem;
}

.card__container .card {
  position: relative;
  background: white;
}

.card__container .add-to-favorites {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.card__container .add-to-favorites .button {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.card__container .add-to-favorites .icon {
  width: 24px;
  height: 24px;
}

.card__container .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__container .card-detail {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  padding: 1rem 1rem 2rem;
  height: auto;
}

.card__container .title {
  font-size: 1rem;
  font-weight: 400;
}

.card__container .link:hover {
  text-decoration: underline;
}

.card__container .price {
  font-size: 1.125rem;
  font-weight: 700;
}

footer .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  background: #e0d7d1;
}

footer .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  height: 40px;
  margin: 0 1rem;
}

footer .newsletter__form .input {
  background: white;
  padding: 0 1rem;
  width: 100%;
  -webkit-box-shadow: 1px 1px 0 #a3978f inset, 0 -1px 0 #a3978f inset;
          box-shadow: 1px 1px 0 #a3978f inset, 0 -1px 0 #a3978f inset;
  font-size: 16px;
  font-weight: 300;
}

footer .newsletter__form .button {
  color: #cc5200;
  background: #e0d7d1;
  font-size: 18px;
  padding: 0 24px;
  -webkit-box-shadow: 0 0 0 1px #cc5200 inset;
          box-shadow: 0 0 0 1px #cc5200 inset;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}

footer .newsletter__form .button:hover {
  color: white;
  background: #cc5200;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f2f0;
  background: #a3978f;
  height: 96px;
}

@media only screen and (min-width: 768px) {
  footer .newsletter__form {
    max-width: 400px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  border: unset;
  outline: unset;
  background: unset;
}

:focus {
  outline: rgba(204, 82, 0, 0.5) solid 2px;
}

body.using-mouse :focus {
  outline: unset;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4f2f0;
}

#root {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

main {
  margin: 1rem 0 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.overflow {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  main {
    margin: 2rem 0 4rem;
  }
}

main .container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  padding: 0 1rem;
}

main img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopping-cart__container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.shopping-cart__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr (1fr)[3] auto;
      grid-template-columns: 1fr 2fr repeat(3, 1fr) auto;
  gap: 1rem;
  background: white;
  padding: 1rem;
}

.shopping-cart__item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart__item .button {
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 1px #e0d7d1 inset;
          box-shadow: 0 0 0 1px #e0d7d1 inset;
  background: #f4f2f0;
  font-weight: 700;
  font-size: 20px;
}

.shopping-cart__item .button,
.shopping-cart__item input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
}

.shopping-cart__item input {
  font-size: 16px;
  border-top: 1px #e0d7d1 solid;
  border-bottom: 1px #e0d7d1 solid;
}

.shopping-cart__item input[type="number"]::-webkit-outer-spin-button,
.shopping-cart__item input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping-cart__item input[type="number"] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=shopping-cart.css.map */