// .message-container {
.message {
  text-align: center;
  padding: 1rem 0.5rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;

  &.success {
    box-shadow: 0 0 0 1px getColor(success01) inset;
    background: getColor(success02);
  }

  &.warning {
    box-shadow: 0 0 0 1px getColor(warning01) inset;
    background: getColor(warning02);
  }

  &.error {
    box-shadow: 0 0 0 1px getColor(error01) inset;
    background: getColor(error02);
  }

  &.info {
    box-shadow: 0 0 0 1px getColor(white01) inset;
    background: getColor(white01);
  }
}

.message__conformation {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  margin: 0 auto;
  max-width: 400px;

  .conformation {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0%);
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 0 1rem;
    border-top: 0;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: getColor(success01);
    text-align: center;
    font-size: 1.25rem;

    background: getColor(success02);
    border-radius: 0 0 4px 4px;
    animation-name: slidein;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
  }

  @keyframes slidein {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }
}
