// Grid Layout
.cart__component {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "c2 c2"
    "c1 c6"
    "c1 c3"
    "c1 c4"
    "c1 c5";
  gap: 1rem;
  background: getColor(white01);
  padding: 1rem;
  border-radius: 4px;

  & > div {
    display: grid;
    // align-items: center;
  }

  .media__container {
    grid-area: c1;
    border-radius: 4px;
    overflow: hidden;
  }

  .media__container .link {
    position: relative;

    width: 150px;
    min-height: 150px;
  }

  .image.mouse-over {
    opacity: 0;
    transition: 0.3s ease;
  }
  .image.mouse-over:hover {
    opacity: 1;
  }

  .title__container {
    grid-area: c2;
  }

  .quantity__container {
    grid-area: c3;
    justify-items: end;

    & > div {
      display: flex;
    }
  }

  .price__container {
    gap: 1rem;
    grid-area: c4;
    justify-items: end;
  }

  .total-price__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: end;
    grid-area: c5;

    span {
      font-weight: 700;
    }
  }

  .delete__container {
    grid-area: c6;
    justify-items: end;
  }

  @media only screen and (min-width: 576px) {
    grid-template-columns: auto 2fr 1fr 1fr auto;
    grid-template-areas:
      "c1 c2 c2 c2 c6"
      "c1 c3 c4 c5 c5";

    & > div {
      align-items: center;
    }
  }
}

// Rest of style
.cart__component {
  &.empty {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .image {
    position: absolute;
    object-fit: cover;
  }

  .link:hover {
    text-decoration: underline;
  }

  .button {
    cursor: pointer;
    box-shadow: 0 0 0 1px getColor(color03) inset;
    background: getColor(color04);
    font-weight: 700;
    font-size: 20px;
  }

  .button.minus {
    border-radius: 4px 0 0 4px;
  }

  .button.plus {
    border-radius: 0 4px 4px 0;
  }

  .button.delete {
    font-size: 1rem;
    border-radius: 4px;
  }

  .button,
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-align: center;
  }

  .input {
    font-size: 16px;
    box-shadow: 0 1px 0 getColor(color03) inset, 0 -1px 0 getColor(color03) inset;
  }

  .button:hover,
  .input:hover {
    box-shadow: 0 0 0 1px getColor(highlight02) inset;
  }
}

.cart-total__container .price {
  text-align: end;
  font-size: 1.125rem;
  font-weight: 700;
}
