.breadcrumbs ul {
  display: flex;
  gap: 2px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
}

.breadcrumbs * {
  color: var(--color02);
}

.breadcrumbs a {
  text-decoration: underline;
}

.breadcrumbs a:hover {
  color: var(--color01);
}

.breadcrumbs .arrow-small {
  width: 0.5rem;
}
